{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-default" id="blog-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="blog-menu">
                <ul class="nav navbar-nav">
                    <li class="navbar-brand">{{ author }}</li>
                </ul>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <a href="/home/{{ author }}" role="button" class="form-control no-dec">Home</a>
                    </div>
                </form>

                <form class="navbar-form navbar-right">
                    <a href="/edit/{{ entry['post_id'] }}" role="button" class="form-control no-dec">Edit</a>
                    <a href="/delete/{{ entry['post_id'] }}" role="button" class="form-control no-dec">Delete</a>
                </form>
            </div>
        </div>
    </nav>


    <div class="row">
        <div class="col-xs-12 text-center">
            <h5 class="error">{{ post_error }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 text-left">
            <h3>{{ entry["subject"] }}</h3>
        </div>
        <div class="col-xs-12 col-sm-2 text-left">
            <h3 class="entry-date">{{ entry["created"] }}</h3>
        </div>
    </div>

    <hr class="intra-line">

    <div class="row">
        <div class="col-xs-12 text-left">
            <p>{{ entry["content"] }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3 text-left rating-div">
            {% if entry["like"] or entry["dislike"] %}
                <p class="{{ entry['like'] }}d">Like:</p>
                <p class="rspace">{{ entry["likes"] }}</p>
                <p class="{{ entry['dislike'] }}d">Dislike:</p>
                <p>{{ entry["dislikes"] }}</p>
            {% else %}
                <a href="/rate/{{ entry['post_id'] }}/like" class="like">Like:</a>
                <p class="rspace">{{ entry["likes"] }}</p>
                <a href="/rate/{{ entry['post_id'] }}/dislike" class="dislike">Dislike:</a>
                <p>{{ entry["dislikes"] }}</p>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-5 text-left">
            <h5 id="error-{{ entry['post_id'] }}" class="error flush">
                {{ rating_error }}
            </h5>
        </div>
    </div>

    <hr class="comment-hr">

    <div class="row">
        <div class="col-xs-12 text-left rating-div">
            <h3>Comments:</h3>
        </div>
    </div>


    <!-- Existing comment form -->
    {% for comment in comments %}
        <form method="post" action="/editcomment/{{ comment['comment_id'] }}">
            <div class="row">
                <div class="col-xs-12 text-left">
                    {{ comment["commenter"] }}:
                </div>
            </div>

            {% if comment["comment_id"] == edit_comment_target and not edit_comment_error %}
                <!-- Open comment for editing. -->
                <div class="row">
                    <div class="col-xs-12">
                        <textarea name="comment-content">{{ comment["content"] }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <input type="submit" name="editcomment" class="comment-btn rspace" value="Save">
                        <a href="/post/{{ entry['post_id'] }}" class="comment-btn no-dec">
                            <input type="button" value="Cancel">
                        </a>

                        <div class="col-xs-12 col-sm-9 text-left">
                            {% if comment["comment_id"] == edit_comment_target and edit_comment_error %}
                                <h5 class="error flush">{{ edit_comment_error }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Displaying comment. -->
                <div class="row">
                    <div class="col-xs-0 col-sm-1">
                    </div>
                    <div class="col-xs-12 col-sm-11 text-left">
                        {{ comment["content"] }}
                    </div>
                </div>

                <div class="vspace-20"></div>

                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <a href="/editcomment/{{ comment['comment_id'] }}" class="no-dec">
                            <input type="button" value="Edit">
                        </a>
                        <a href="/deletecomment/{{ comment['comment_id'] }}" class="no-dec">
                            <input type="button" value="Delete">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 text-left">
                        {% if comment["comment_id"] == edit_comment_target and edit_comment_error %}
                            <h5 class="error margin-5">{{ edit_comment_error }}</h5>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </form>
        <hr class="comment-hr">
    {% endfor %}


    <!-- New comment form -->
    <form method="post" action="/newcomment/{{ entry['post_id'] }}" class="inline">
        {% if get_new_comment %}
            <div class="row">
                <div class="col-xs-12 text-left">
                    <h4>New Comment:</h4>
                 </div>
            </div>
            {% if new_comment_error %}
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h5 class="error">{{ new_comment_error }}</h5>
                    </div>
                </div>
            {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        <textarea name="comment-content"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" name="newcomment" value="Save" class="comment-btn rspace">
                        <a href="/post/{{ entry['post_id'] }}" class="no-dec">
                            <input type="button" value="Cancel">
                        </a>
                    </div>
                </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <a href="/newcomment/{{ entry['post_id'] }}" class="no-dec">
                        <input type="button" value="Comment">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-5 text-left">
                    {% if new_comment_error %}
                        <div class="col-xs-12 text-left">
                            <h5 class="error flush">{{ new_comment_error }}</h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </form>
</div>

{% endblock %}
